In [2]:
# 1. How to import pandas and check the version?
import numpy as np
import pandas as pd

print(pd.__version__)

1.5.3

In [3]:
# 2. How to create a series from a list, numpy array and dict?
import numpy as np

mylist = list("abcedfghijklmnopqrstuvwxyz")
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

In [26]:
# 3. How to convert the index of a series into a column of a dataframe? L1
mylist = list("abcedfghijklmnopqrstuvwxyz")
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df = ser.to_frame().reset_index()
df.columns = ["Letter", "Number"]
df.head()

  Letter  Number
0      a       0
1      b       1
2      c       2
3      e       3
4      d       4

In [13]:
# 4. How to combine many series to form a dataframe? l1
import numpy as np

ser1 = pd.Series(list("abcedfghijklmnopqrstuvwxyz"))
ser2 = pd.Series(np.arange(26))
pd1 = pd.concat([ser1, ser2], axis=1)  # sol1: use concat
pd2 = pd.DataFrame({"col1": ser1, "col2": ser2})  # sol2: use dict
pd1.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [12]:
# 5. How to assign name to the seriesâ€™ index? L1

ser = pd.Series(list("abcedfghijklmnopqrstuvwxyz"))
ser.name = "alphabet"
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabet, dtype: object

In [18]:
# 6. How to get the items of series A not present in series B? L2

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser3 = ser1[~ser1.isin(ser2)]
ser3

0    1
1    2
2    3
dtype: int64

In [22]:
# 7. How to get the items not common to both series A and series B? L2

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
res1 = ser1[~ser1.isin(ser2)]
res2 = ser2[~ser2.isin(ser1)]
res3 = pd.concat([res1, res2], axis=0)  # sol1: isin concat

ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_x = ser_u[~ser_u.isin(ser_i)]  # sol2: use union & intersect

xor = pd.Series(np.setxor1d(ser1, ser2)) # sol3: use xor

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

In [20]:
# 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series? L2

ser = pd.Series(np.random.normal(10, 5, 25))
np.percentile(ser, q=[0, 25, 50, 75, 100])  # sol1: use np percentile

ser.quantile(q=[0, 0.25, 0.50, 0.75, 1.00])  # sol2: use pd quantile

0.00    -2.650657
0.25     8.683395
0.50    11.017234
0.76    14.395488
1.00    20.331371
dtype: float64

In [24]:
# 9. How to get frequency counts of unique items of a series? L1

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser

0     g
1     h
2     c
3     d
4     f
5     g
6     e
7     c
8     h
9     d
10    e
11    a
12    e
13    d
14    e
15    h
16    a
17    b
18    h
19    d
20    h
21    f
22    a
23    b
24    b
25    d
26    a
27    e
28    h
29    h
dtype: object

In [25]:
np.random.randint(8, size=30)

array([6, 3, 1, 2, 7, 7, 4, 5, 2, 3, 4, 7, 2, 2, 2, 7, 1, 2, 5, 2, 4, 6,
       5, 0, 0, 1, 2, 5, 2, 6])

In [28]:
np.take(list('abcdefgh'))

TypeError: take() missing 1 required positional argument: 'indices'