In [3]:
# 1. How to import pandas and check the version?
import numpy as np
import pandas as pd

print(pd.__version__)

1.5.3

In [3]:
# 2. How to create a series from a list, numpy array and dict?
import numpy as np

mylist = list("abcedfghijklmnopqrstuvwxyz")
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

In [26]:
# 3. How to convert the index of a series into a column of a dataframe? L1
mylist = list("abcedfghijklmnopqrstuvwxyz")
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df = ser.to_frame().reset_index()
df.columns = ["Letter", "Number"]
df.head()

  Letter  Number
0      a       0
1      b       1
2      c       2
3      e       3
4      d       4

In [13]:
# 4. How to combine many series to form a dataframe? l1
import numpy as np

ser1 = pd.Series(list("abcedfghijklmnopqrstuvwxyz"))
ser2 = pd.Series(np.arange(26))
pd1 = pd.concat([ser1, ser2], axis=1)  # sol1: use concat
pd2 = pd.DataFrame({"col1": ser1, "col2": ser2})  # sol2: use dict
pd1.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [12]:
# 5. How to assign name to the seriesâ€™ index?

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabet'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabet, dtype: object

In [18]:
# 6. How to get the items of series A not present in series B?

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser3 = ser1[~ser1.isin(ser2)]
ser3

0    1
1    2
2    3
dtype: int64

In [20]:
# 7. How to get the items not common to both series A and series B?

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
res = []
res.append(ser1[~ser1.isin(ser2)])
res.append(ser2[~ser2.isin(ser1)])
res

[0    1
 1    2
 2    3
 dtype: int64,
 2    6
 3    7
 4    8
 dtype: int64]

In [4]:
ser = pd.Series(np.random.normal(10, 5, 25))
ser.describe

0      4.001437
1      9.842391
2     11.964365
3     14.263698
4      6.228390
5     14.276110
6     14.231992
7     10.232860
8      6.407690
9      3.300308
10    11.204675
11     9.444226
12     5.709517
13     5.910409
14     0.546996
15    11.943007
16    18.519931
17    16.700199
18    10.832171
19     9.728706
20    14.526464
21     6.220301
22    20.033136
23    20.860771
24    12.621608
dtype: float64